{% extends 'base.html' %}

{% block title %}
Про нас
{% endblock %}

{% block headers %}
    <h1 class="mb-0">Немного информации про нас</h1>
    <p class="text-muted mb-0">Наша команда</p>
{% endblock %}

{% block body %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 60vh;">
            <div class="text-center">
                <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                    <div class="container-fluid py-5">
                        <h2 class="mb-4">О нашем проекте</h2>
                        <p class="col-md-8 fs-5 mx-auto">
                            Наша команда разработала этот сайт для того, чтобы люди могли заходить и читать свежие новости
                        </p>
                        <div class="mt-4">
                            <p class="text-muted">
                                Присоединяйтесь к нашему сообществу!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}